{# Include default classes for each component. #}
{% extends '@drupalizer/components/_helper/component.html.twig' %}

{# Precede the component's name with c- to indicate it is a component. #}
{% set component_name = 'c-card' %}

{# Override the defaults #}
{% set component_element = 'article' %}

{% block component_content %}
  {% block component_image %}
    {% if image|render|striptags('<img><picture>') %}
      <div class="{{ component ~ '__image' }}">{{ image }}</div>
    {% endif %}
  {% endblock %}

  <div class="{{ component ~ '__content-wrapper' }}">

    {% block event_date %}
    {% endblock %}

    {% if tags %}
      <div class="{{ component ~ '__tags' }}">
        {% for tag in tags %}
          {% if tag.label is not empty %}
            {{ pattern('pill', tag) }}
          {% elseif tag.content %}
            {{ tag.content }}
          {% else %}
            {{ tag }}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    {% block title %}
      <h3 class="{{ component ~ '__title' }}">
        {% if clean_url %}
          <a href="{{ clean_url }}" class="overlay-link">
            {{ title }}
          </a>
        {% else %}
          {{ title }}
        {% endif %}
      </h3>
    {% endblock title %}

    {% block post_date %}
      {% if date %}
        <div class="{{ component ~ '__date' }} {{ component ~ '__date--post-date' }}">
          {{ date }}
        </div>
      {% endif %}
    {% endblock %}

    {% block component_text %}
      {% if text %}
        <div class="{{ component ~ '__text' }}">
          {{ text }}
        </div>
      {% endif %}
    {% endblock %}

    {% if content.0|field_value %}
      <div class="{{ component ~ '__content' }}">
        {% for item in content %}
          <div class="{{ component ~ '__content-item' }}">{{ item }}</div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}
