{% extends "node.html.twig" %}

{% block node %}
  <div{{ attributes.addClass('container') }}>
    {% block header %}
      <header class="node__header">
        <h1 class="page-title">{{ node.label }}</h1>
      </header>
    {% endblock header %}

    {% block content %}
      {% if content %}
        <div class="article__content">
          <div class="article__header">
            {{ content.created }}
            {{ content.field_read_time }}
          </div>
          {{ content|without('field_read_time', 'created') }}
        </div>
      {% endif %}
    {% endblock content %}

    {% block footer %}
    {% endblock footer %}
  </div>
{% endblock node %}
